@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'saitamaar';
    /* A name you choose to use later in your CSS */
    src: url('/Saitamaar-Regular.woff2') format('woff2'),
}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: blue;
    color: white;
    font-weight: bold;
}
